/* Підключення фрифтів */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");

/* Локальне підключення шрифтів */

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: url("../img/bg.jpg") center / cover no-repeat fixed;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

.header--margin {
	margin-bottom: 20px;
}

.header__container {
	padding-block: 50px 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__title {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	color: darkblue;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-shadow: 4px 4px 8px #28293e;
	margin-bottom: 20px;
}

@media (max-width: 479.98px) {
	.header__title {
		font-size: 30px;
	}
}

.header__button {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	letter-spacing: 5px;
	line-height: 1.1;
	text-shadow: 1px 1px 7px #28293e;
	background-color: #28293e;
	padding: 10px 20px;
	border-radius: 15px;
	animation: blink 2.5s ease-in-out infinite;
}

.footer__container {
	padding-block: 50px;
}

.footer__container {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: darkblue;
	letter-spacing: 5px;
	line-height: 2.5;
	text-shadow: 1px 1px 7px #28293e;
}

/* HomeWork */
.page {
	background-color: #28293e;
	color: #ffffff;
	font-family: "Epilogue", sans-serif;
	padding-top: 92px;
	padding-bottom: 176px;
}

[class*="__container"] {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-inline: 15px;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 532px;
}

.description--center {
	margin-inline: auto;
	text-align: center;
}

.description--left {
	text-align: left;
	align-items: flex-start;
}

.description__label {
	color: #ef6d58;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.description__title {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14;
	letter-spacing: -1px;
}

@media (max-width: 991.98px) {
	.description__title {
		font-size: 48px;
	}
}

@media (max-width: 767.98px) {
	.description__title {
		font-size: 40px;
	}
}

.button {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 6px;
	padding: 18px 30px 16px;
	color: #fff;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}
.button--dark {
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.button--orange {
	border: 1px solid #ef6d58;
	background-color: #ef6d58;
}

.button--dark > span,
.button--orange > span {
	position: relative;
	z-index: 3;
}

.button--dark:after,
.button--orange:after {
	content: "";
	background-color: #fff;
	z-index: 2;
	border-radius: 50%;
	height: 50%;
	position: absolute;
	top: 100%;
	left: 25%;
	transition: all 0.3s ease;
	width: 50%;
}

.button--dark:hover {
	color: #391400;
}

.button--orange:hover {
	color: #ef6d58;
}

.button--dark:hover::after,
.button--orange:hover::after {
	height: 200%;
	top: -50%;
	left: -50%;
	width: 200%;
}

/*** Portfolio ***/

.portfolio {
	padding-bottom: 96px;
}

.portfolio__description {
	margin-bottom: 44px;
}

@media (max-width: 991.98px) {
	.portfolio__description {
		margin-bottom: 35px;
	}
}

.portfolio__menu {
	margin-bottom: 68px;
}

@media (max-width: 991.98px) {
	.portfolio__menu {
		margin-bottom: 30px;
	}
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

@media (max-width: 991.98px) {
	.menu {
		gap: 30px;
	}
}

@media (max-width: 559.98px) {
	.menu {
		display: none;
	}
}

.menu__item sup {
	display: inline-block;
	transform: translateY(-6px);
}

.menu__link {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	transition: all 0.3s ease;
}

.menu__link:hover {
	color: #ffffff;
}

.menu__link--active {
	color: #ffffff;
}

.portfolio__works {
	margin-bottom: 64px;
}

.portfolio__dropdown {
	position: relative;
	margin-bottom: 48px;
}

.portfolio__dropdown::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: url("../img/triangle.svg") 0 0 / 100% no-repeat;
}

@media (min-width: 559.98px) {
	.portfolio__dropdown {
		display: none;
	}
}

.portfolio__select {
	appearance: none;
	width: 100%;
	border-radius: 6px;
	padding: 9px 16px;
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;
	transition: all 0.3s ease;
}

.portfolio__select:focus-visible {
	outline: 2px solid #ef6d58;
}

.works {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 32px;
}

@media (max-width: 991.98px) {
	.works {
		gap: 15px;
	}
}

.works__column {
	position: relative;
	flex: 1 0 40%;
	aspect-ratio: 470 / 416;
	overflow: hidden;
	border-radius: 6px;
	max-height: 416px;
}

@media (min-width: 991.98px) {
	.works__column:nth-child(4n + 2),
	.works__column:nth-child(4n + 3) {
		flex: 1 1 56%;
		aspect-ratio: 670 / 416;
	}
}

@media (max-width: 767.98px) {
	.works__column {
		aspect-ratio: 329 / 416;
	}
}

@media (max-width: 559.98px) {
	.works__column {
		flex: 1 0 100%;
	}
}

.works__column img {
	width: 100%;
	height: 100%;
}

.works__column::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3181;
	background-color: #5c2000;
	transition: all 0.3s ease;
}

.works__column:hover::before {
	opacity: 0.2;
}

.works__column:hover .works__info {
	left: 60px;
}

.works__column:hover .works__label {
	background-color: #ef6d58;
	color: #ffffff;
}

.works__column:hover .works__title {
	text-shadow: 0 0 10px #ef6d58;
}

.works__info {
	position: absolute;
	inset-inline: 48px;
	bottom: 51px;
	transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
	.works__info {
		inset-inline: 28px;
	}
}

.works__label {
	display: inline-block;
	color: #391400;
	font-size: 16px;
	line-height: 1;
	background: #ffffff;
	padding: 12px 16px 10px;
	border-radius: 20px;
	margin-bottom: 24px;
	text-transform: capitalize;
	transition: all 0.3s ease;
}

.works__label:hover {
	box-shadow: 0px 5px 3px #ffffff;
	transform: translateY(-5px);
}
.works__label:active {
	box-shadow: 0px 3px 3px #ffffff;
	transform: translateY(-3px);
}

.works__title {
	color: #ffffff;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	transition: all 0.3s ease;
}

.portfolio__button {
	text-align: center;
}

/*** Started ***/

.page__started {
	padding-top: 96px;
	padding-bottom: 76px;
}

.started__columns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 30px;
	border-radius: 6px;
	background: #fdf0e9;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 83px;
}

@media (max-width: 1199.98px) {
	.started__columns {
		padding-inline: 28px;
	}
}

.started__column {
	position: relative;
	flex: 1 1 300px;
}

.started__column--size {
	flex: 1 1 250px;
}

@media (max-width: 991.98px) {
	.started__column--image {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 650.98px) {
	.started__column--image {
		display: flex;
		justify-content: center;
	}
}

.started__column--size > *:not(:last-child) {
	margin-bottom: 20px;
}

.started__gift {
	position: relative;
	max-width: 148px;
	margin-top: -150px;
	width: 100%;
	aspect-ratio: 1;
	animation: rotate 10s ease-in-out infinite;
}

@media (max-width: 965.98px) {
	.started__gift {
		margin-top: -90px;
	}
}

.started__gift img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
	width: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.started__label {
	display: inline-block;
	color: #ef6d58;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.started__title {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
}

.started__card {
	position: relative;
	max-width: 338px;
	max-height: 176px;
	border-radius: 6px;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	z-index: 3;
}

.started__card img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.started__card::before {
	content: "";
	position: absolute;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	top: 8px;
	inset-inline: 16px;
	max-width: 90.5%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.started__card::after {
	content: "";
	position: absolute;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	top: 16px;
	inset-inline: 32px;
	max-width: 81%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.started__image {
	position: relative;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	max-width: 239px;
	width: 100%;
}

@media (min-width: 965.98px) {
	.started__image {
		margin-block-start: -60px;
		transform: translateX(-30%);
	}
}

@media (max-width: 479.98px) {
	.started__image {
		max-width: 191px;
	}
}

.started__image img {
	width: 100%;
}

.started__cloud {
	position: absolute;
	top: 10%;
	left: 10%;
	max-width: 282px;
	width: 100%;
	height: 100%;
	max-height: 242px;
	animation: blink 2.5s ease-in-out infinite;
}

.started__cloud img {
	width: 100%;
}

@media (max-width: 965.98px) {
	.started__cloud {
		top: 50%;
		left: 50%;
		transform: translate(-62%, -40%);
		animation: none;
	}
}

@media (max-width: 479.98px) {
	.started__cloud {
		max-width: 226px;
	}
}

@keyframes blink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
}

/*** Events ***/

.page__events {
	padding-block: 70px;
}

.events__description {
	margin-bottom: 64px;
}

@media (max-width: 767.98px) {
	.events__description {
		margin-bottom: 35px;
	}
}

.events__cards {
	padding-bottom: 64px;
}

.cards-events {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.cards-events__column {
	flex: 1 1 30%;
	border-radius: 6px;
	border: 1px solid #3a3c56;
	padding: 41px 40px 36px;
	transition: all 0.3s ease;
}

.cards-events__column:hover {
	transform: translate(3px, 3px);
	box-shadow: -3px 8px 8px 0px rgba(255, 255, 255, 0.3);
}

.cards-events__schedule {
	margin-bottom: 40px;
}

.schedule {
	display: flex;
	flex-direction: column;
	gap: 19px;
	padding-bottom: 40px;
	border-bottom: 1px solid #3a3c56;
}

.schedule__date {
	display: flex;
	gap: 12px;
}

.schedule__number {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.11;
	letter-spacing: -2px;
}

.schedule__season {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 24px;
	font-weight: 700;
}

.schedule__month {
	line-height: 1.5;
}

.schedule__year {
	line-height: 1.2;
}

.schedule__time {
	font-size: 16px;
	line-height: 1.2;
	display: flex;
	align-items: center;
	gap: 8px;
}

.schedule__time::before {
	align-self: flex-start;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/clock_icon.svg") 0 0 / 16px no-repeat;
}

.cards-events__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 19px;
}

.cards-events__description {
	color: rgba(255, 255, 255, 0.64);
	font-size: 16px;
	line-height: 2;
	margin-bottom: 26px;
}

.cards-events__link {
	font-size: 16px;
	line-height: 2;
	transition: all 0.3s ease;
}

.cards-events__link:hover {
	color: #ef6d58;
	text-decoration: underline;
}

.events__button {
	text-align: center;
}

/*** Team ***/

.page__team {
	padding-top: 70px;
	padding-bottom: 80px;
}

.team__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 64px;
}

@media (max-width: 767.98px) {
	.team__header {
		margin-bottom: 35px;
	}
}

.slider-arrows {
	display: flex;
	gap: 16px;
}

@media (max-width: 767.98px) {
	.slider-arrows {
		display: none;
	}
}

.slider-arrows__left,
.slider-arrows__right {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	border: 1px solid #3a3c56;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.slider-arrows__right:hover,
.slider-arrows__left:hover {
	background-color: #ef6d58;
	border: 1px solid #ef6d58;
}

.team__members {
	margin-bottom: 52px;
}

@media (max-width: 767.98px) {
	.team__members {
		margin-bottom: 35px;
	}
}

.members {
	display: flex;
	gap: 30px;
	overflow: auto;
	scroll-snap-type: x mandatory;
}

.members__item {
	flex: 0 0 270px;
	overflow: hidden;
	transition: all 0.3s ease;
}

@media (any-hover: hover) {
	.members__item:hover {
		transform: rotateX(-15deg);
		box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
	}
}

.members__image {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	max-width: 270px;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 6px;
	border: 1px solid #3a3c56;
	margin-bottom: 25px;
}

.members__name {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 3px;
	text-transform: capitalize;
}

.members__profession {
	color: rgba(255, 255, 255, 0.64);
	font-size: 16px;
	line-height: 2;
}

.slider-bullets {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.slider-bullets__item {
	width: 12px;
	height: 12px;
	border: 1px solid #3a3c56;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.slider-bullets__item:hover {
	border: 1px solid #ef6d58;
}

.slider-bullets__item--active {
	background-color: #ef6d58;
	border: 1px solid #ef6d58;
}

/*** Founder ***/

.page__founder {
	padding-top: 80px;
}

.founder__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 120px;
	flex-wrap: wrap;
}

@media (max-width: 1199.98px) {
	.founder__body {
		gap: 80px;
	}
}

@media (max-width: 991.98px) {
	.founder__body {
		gap: 30px;
	}
}

.founder__image {
	flex: 1 0 49%;
	border-radius: 6px;
	overflow: hidden;
}

@media (max-width: 991.98px) {
	.founder__image {
		flex: 1 0 100%;
	}
}

@media (any-hover: hover) {
	.founder__image:hover img {
		transform: scale(1.1);
	}
}

.founder__image img {
	width: 100%;
	aspect-ratio: 570 / 448;
	object-position: center;
	object-fit: cover;
	border-radius: 6px;
	transition: all 0.3s ease;
}

.founder__content {
	flex: 1 0 40%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.founder__label {
	color: #ef6d58;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 33px;
	z-index: 2;
}

.founder__decription {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 44px;
	z-index: 2;
}

@media (max-width: 767.98px) {
	.founder__decription {
		font-size: 24px;
	}
}

.founder__name {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 6px;
	z-index: 2;
}

.founder__profession {
	color: rgba(255, 255, 255, 0.64);
	font-size: 14px;
	line-height: 1.71;
	z-index: 2;
}

.founder__quote {
	position: absolute;
	right: 10%;
	top: 4%;
	max-width: 100px;
	animation: quote 17s linear infinite 1s;
}

.founder__quote img {
	width: 100%;
}

@keyframes quote {
	0% {
		right: 10%;
		top: 4%;
		transform: rotate(0deg);
	}
	25% {
		top: 75%;
		right: 10%;
		transform: rotate(90deg);
	}

	50% {
		top: 75%;
		right: 75%;
		transform: rotate(180deg);
	}

	75% {
		top: 4%;
		right: 75%;
		transform: rotate(270deg);
	}
	90% {
		right: 10%;
		top: 4%;
		transform: rotate(360deg);
	}
	100% {
		right: 10%;
		top: 4%;
		transform: rotate(360deg);
	}
}

/*** Dark Template ***/
.dark-template {
	font-family: "Manrope", sans-serif;
	background-color: #1e1e1e;
	color: #ffffff;
	padding-block: 50px;
}

/*** Must-Watch ***/

.dark-template__must-watch {
	margin-bottom: 50px;
}

.must-watch__container {
	max-width: 1630px;
}

@media (min-width: 1199.98px) {
	.must-watch__body {
		position: relative;
		padding: 50px;
		border-radius: 12px;
		border: 1px solid #262626;
	}
}

.must-watch__block-header:not(:last-child) {
	margin-bottom: 65px;
}

.block-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.block-header__title {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: capitalize;
}

@media (max-width: 991.98px) {
	.block-header__title {
		font-size: 30px;
	}
}

@media (max-width: 767.98px) {
	.block-header__title {
		font-size: 24px;
	}
}

.slider {
	flex: 0 0 205px;
	padding: 12px;
	border-radius: 10px;
	border: 1px solid #1f1f1f;
	background: #0f0f0f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	cursor: pointer;
}

@media (max-width: 859.98px) {
	.slider {
		display: none;
	}
}

.slider__arrow {
	border-radius: 6px;
	flex: 0 0 44px;
	aspect-ratio: 1;
	border: 1px solid #1f1f1f;
	background: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

@media (any-hover: hover) {
	.slider__arrow:hover {
		background: #e50000;
	}
}

.slider__arrow--left {
	transform: rotate(180deg);
}

.slider__items {
	flex: 0 0 60px;
	justify-content: center;
	display: flex;
	gap: 3px;
}

.slider__item {
	flex: 0 0 14px;
	height: 4px;
	border-radius: 100px;
	background-color: #333;
	transition: all 0.3s ease;
}

@media (any-hover: hover) {
	.slider__item:hover {
		background-color: #e50000;
	}
}

.slider__item--active {
	flex: 0 0 18px;
	background-color: #e50000;
}

.must-watch__cards {
	display: flex;
	column-gap: 20px;
	overflow: auto;
}

@media (max-width: 859.98px) {
	.must-watch__cards {
		margin-bottom: 20px;
	}
}

.card-watch {
	flex: 0 0 24%;
	min-width: 231px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #262626;
	background: #1a1a1a;
}

.card-watch > *:not(:last-child) {
	margin-bottom: 20px;
}

@media (any-hover: hover) {
	.card-watch:hover .card-watch__image img {
		transform: scale(1.05);
	}
}

@media (max-width: 1199.98px) {
	.card-watch > *:not(:last-child) {
		margin-bottom: 16px;
	}
}

@media (max-width: 767.98px) {
	.card-watch > *:not(:last-child) {
		margin-bottom: 12px;
	}
}

@media (max-width: 1199.98px) {
	.card-watch {
		padding: 12px;
	}
}

.card-watch__image {
	max-width: 320px;
	width: 100%;
	aspect-ratio: 320 / 404;
	min-width: 207px;
	overflow: hidden;
	border-radius: 12px;
}

.card-watch__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.card-watch__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	color: #999;
	font-weight: 500;
}

.card-watch__time {
	padding: 6px 10px 6px 32px;
	border-radius: 51px;
	border: 1px solid #262626;
	line-height: 1.5;
	min-height: 20px;
	background: #141414 url(../img/dark/icon/clock.svg) 6px center / 20px no-repeat;
}

@media (max-width: 1439.98px) {
	.card-watch__time {
		font-size: 13px;
		background-size: 18px;
		padding: 4px 4px 4px 28px;
	}
}

@media (max-width: 1299.98px) {
	.card-watch__time {
		font-size: 12px;
		background-size: 16px;
		padding: 4px 2px 4px 26px;
	}
}

.card-watch__stars {
	display: flex;
	align-items: center;
	gap: 1px;
	padding: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
	color: #999;
	font-size: 14px;
	font-weight: 500;
}

@media (max-width: 1439.98px) {
	.card-watch__stars {
		padding: 6px 8px;
		font-size: 13px;
	}
}

@media (max-width: 1299.98px) {
	.card-watch__stars {
		font-size: 12px;
		padding: 4px 6px;
	}
}

.card-watch__star {
	width: 17px;
	aspect-ratio: 1;
	max-width: 100%;
}

@media (max-width: 1439.98px) {
	.card-watch__star {
		width: 16px;
	}
}

@media (max-width: 1299.98px) {
	.card-watch__star {
		width: 13px;
	}
}

.pagination-slider {
	display: flex;
	width: 80px;
	margin-inline: auto;
	border-radius: 20px;
	background-color: #333;
	cursor: pointer;
}

@media (min-width: 859.98px) {
	.pagination-slider {
		display: none;
	}
}

.pagination-slider__item {
	flex: 0 0 20px;
	height: 5px;
	border-radius: 20px;
	background-color: #333;
	transition: all 0.3s ease;
}

.pagination-slider__item:hover {
	background-color: #e50000;
}

.pagination-slider__item--active {
	background-color: #e50000;
}

/*** Genres ***/

.genres {
	padding-block: 50px;
}

.genres__container {
	max-width: 1630px;
}

@media (min-width: 1199.98px) {
	.genres__body {
		position: relative;
		padding: 50px;
		border-radius: 12px;
		border: 1px solid #262626;
	}
}

.genres__label-button {
	display: inline-block;
	font-weight: 600;
	line-height: 1.5;
	padding: 8px 20px;
	border-radius: 6px;
	background-color: #e50000;
	transition: all 0.3s ease;
	text-align: center;
}

@media (min-width: 1199.98px) {
	.genres__label-button {
		position: absolute;
		top: -20px;
		left: 40px;
	}
}

@media (max-width: 1199.98px) {
	.genres__label-button {
		margin-bottom: 20px;
	}
}

@media (any-hover: hover) {
	.genres__label-button:hover {
		background-color: #b70000;
	}
}

.genres__block-header:not(:last-child) {
	margin-bottom: 65px;
}

.genres__cards {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	overflow: auto;
}

@media (max-width: 859.98px) {
	.genres__cards {
		margin-bottom: 20px;
	}
}

.card-genres {
	flex: 0 0 18.3%;
	padding: 24px;
	border-radius: 12px;
	border: 1px solid #262626;
	background: #1a1a1a;
	min-width: 220px;
}

@media (any-hover: hover) {
	.card-genres:hover .card-genres__title {
		color: #e50000;
	}

	.card-genres:hover path {
		stroke: #e50000;
	}

	.card-genres:hover .card-genres__images::before {
		transform: translateY(-100%);
	}
}

@media (min-width: 1439.98px) {
	.card-genres {
		padding: 30px;
	}
}

@media (max-width: 1199.98px) {
	.card-genres {
		padding: 20px;
	}
}

.card-genres__images {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 20px;
}

.card-genres__images::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
	transform: translateY(0);
	transition: transform 0.3s ease;
}

.card-genres__img {
	flex: 0 0 calc(50% - 2.5px);
	aspect-ratio: 105 / 123;
	border-radius: 10px;
	overflow: hidden;
}

.card-genres__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-genres__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.card-genres__title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	transition: all 0.3s ease;
}

@media (max-width: 1199.98px) {
	.card-genres__title {
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {
	.card-genres__title {
		font-size: 14px;
	}
}

.card-genres__arrow {
	width: 30px;
	aspect-ratio: 1;
}

@media (max-width: 1199.98px) {
	.card-genres__arrow {
		width: 20px;
	}
}

.card-genres__arrow path {
	transition: all 0.3s ease;
}
