/* Підключення фрифтів */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");

/* Локальне підключення шрифтів */

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.container-header {
	padding-block: 100px;
	padding-inline: 50px;
}

.main-title {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	color: chocolate;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-shadow: 1px 1px 7px darkorange;
}

.container-footer {
	padding-block: 50px;
}

.copyright {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: darkblue;
	letter-spacing: 5px;
	line-height: 2.5;
	text-shadow: 1px 1px 7px darkorange;
}

/* Макети */

/* Макет №1 */
.layouts-first {
	font-family: "Manrope", sans-serif;
	font-size: 18px;
	padding: 100px 50px;
	background-color: #141414;
	color: #999;
}
.layouts-first .container {
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}
.layouts-first .title-info {
	max-width: 1300px;
	margin-bottom: 80px;
}
.layouts-first h2 {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 14px;
}
.layouts-first .items {
	margin: 0 -15px;
	font-size: 0;
}
.layouts-first .item {
	width: 33.333%;
	display: inline-block;
	margin-bottom: 30px;
	padding: 0 15px;
	vertical-align: top;
}
.layouts-first .content {
	min-width: 285px;
	padding: 50px;
	border: 1px solid #262626;
	background-color: #0f0f0f;
	font-size: 18px;
}
.layouts-first .content-info {
	margin-bottom: 30px;
}

.layouts-first img {
	max-width: 72px;
	margin-right: 16px;
	background-color: #141414;
	border: 1px solid #1f1f1f;
	vertical-align: middle;
}

h3.title-icon-info {
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	color: #fff;
}

.layouts-first .content-info ~ p {
	line-height: 1.5;
}

/* Макет №2 */
.layouts-second {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	padding: 100px 50px;
}
.layouts-second .container {
	max-width: 540px;
	margin: 0 auto;
}
.layouts-second .title-info {
	font-size: 50px;
	font-weight: 500;
	line-height: 1.32;
	letter-spacing: 1px;
	color: #091133;
	margin-bottom: 20px;
}
.layouts-second .description-info {
	color: #505f98;
	line-height: 1.66;
	margin-bottom: 69px;
}
.layouts-second .description-info > p {
	margin-bottom: 16px;
}
.container-buttons {
	margin-bottom: 20px;
}
a.button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.62;
	text-align: center;
	color: #fff;
	background-color: #111b47;
	min-width: 189px;
	margin-right: 30px;
	padding: 5px;
}

/* Макети №3 */

.layouts-third {
	font-family: "Roboto", sans-serif;
	padding: 100px 50px;
}

.layouts-third .container {
	max-width: 520px;
	margin: 0 auto;
}

.layouts-third .title-info {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.33;
	color: #091133;
	margin-bottom: 16px;
}

.layouts-third .description-info {
	font-size: 16px;
	color: #6f7cb2;
	line-height: 1.62;
	margin-bottom: 70px;
}

.layouts-third .items {
	margin: 0 -15px;
	font-size: 0;
}

.layouts-third .item {
	width: 50%;
	display: inline-block;
	margin-bottom: 30px;
	padding: 0 15px;
	vertical-align: top;
}

.layouts-third img {
	max-width: 36px;
	margin-bottom: 14px;
}

.layouts-third h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.62;
	color: #091133;
	margin-bottom: 10px;
}

.layouts-third h3 + p {
	font-size: 12px;
	line-height: 1.5;
	color: #5d6970;
}
