/* Підключення фрифтів */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600&display=swap");

/* Локальне підключення шрифтів */

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: url("../img/bg.jpg") center / cover no-repeat fixed;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

.header--margin {
	margin-bottom: 50px;
}

.header__container {
	padding-block: 50px 0;
	max-width: 1000px;
	margin: 0 auto;
}

.header__title {
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	color: darkblue;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-shadow: 4px 4px 8px #28293e;
}

.footer__container {
	padding-block: 50px;
}

.footer__container {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: darkblue;
	letter-spacing: 5px;
	line-height: 2.5;
	text-shadow: 1px 1px 7px #28293e;
}

/* HomeWork */
.page > *:not(:last-child) {
	margin-bottom: 50px;
}

/*** Form Light ***/

.form-light {
	background-color: #fff;
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	padding-block: 30px;
}

.form-light__container {
	max-width: 736px;
	margin: 0 auto;
	padding: 88px;
	border-radius: 15px;
	box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
}

.form-light__text:not(:last-child) {
	margin-bottom: 50px;
}

.form-light__text > *:last-child {
	margin-bottom: 0;
}

.form-light__text p {
	color: #87909d;
	line-height: 1.33;
}

.light-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.light-form__line:last-of-type {
	margin-bottom: 26px;
}

.light-form__input {
	color: #132238;
	line-height: 1.33;
	padding-bottom: 14px;
	border-bottom: 2px solid #e6e8eb;
	transition: border-bottom 0.3s ease;
}

.light-form__input::placeholder,
.light-form__textarea::placeholder {
	color: #697484;
	line-height: 1.33;
	transition: color 0.3s ease;
}

.light-form__input:focus::placeholder,
.light-form__textarea:focus::placeholder {
	color: #a53dff;
}

.light-form__input:focus,
.light-form__textarea:focus {
	border-bottom: 2px solid #a53dff;
	outline: none;
}

.light-form__line--couple {
	display: flex;
	gap: 24px;
}

.light-form__input--budget {
	flex: 1 1 26%;
}

.light-form__input--subject {
	flex: 1 1 50%;
}

.light-form__textarea {
	color: #132238;
	line-height: 1.33;
	padding-block: 5px;
	min-height: 60px;
	border-bottom: 2px solid #e6e8eb;
	resize: vertical;
	transition: border-bottom 0.3s ease;
}

.light-form__button {
	align-self: flex-start;
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 4px;
	background-color: #a53dff;
	color: #fff;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	overflow: hidden;
	transition:
		background-color 0.3s ease,
		letter-spacing 0.3s ease;
}

.light-form__button:hover {
	background-color: #8431cc;
	letter-spacing: 2px;
}

.light-form__button::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/icon_arrow.svg") center / cover no-repeat;
	transition: transform 0.3s ease;
	transform: rotate(0);
}

.light-form__button:hover::after {
	transform: rotate(360deg);
}

.light-form__button:focus {
	background-color: #8431cc;
	letter-spacing: 2px;
	outline: none;
}

.light-form__button:focus::after {
	transform: rotate(360deg);
}

/*** Form Dark ***/

.form-dark {
	background-color: #141414;
	font-family: "Manrope", sans-serif;
	font-size: 18px;
	padding-block: 30px;
}

.form-dark__container {
	max-width: 976px;
	margin: 0 auto;
}

.dark-form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 50px;
	border-radius: 12px;
	border: 1px solid #262626;
	background: #0f0f0f;
}

.dark-form__line {
	display: flex;
	gap: 50px;
}

.dark-form__item {
	flex: 1 1 50%;
}

.dark-form__label {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 16px;
}

.dark-form__input {
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #262626;
	background: #141414;
	color: #fff;
	line-height: 1.5;
}

.dark-form__input::placeholder,
.dark-form__textarea::placeholder {
	color: #999;
	font-weight: 400;
	line-height: 1.5;
	transition: color 0.3s ease;
}

.dark-form__textarea textarea {
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #262626;
	background: #141414;
	color: #fff;
	line-height: 1.5;
	resize: vertical;
	min-height: 163px;
}

.dark-form__action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.dark-form__checkbox {
	align-self: center;
}

.dark-form__checkbox-input {
	appearance: none;
	width: auto;
}

.dark-form__checkbox-label {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #999;
	line-height: 1.5;
	cursor: pointer;
}

.dark-form__checkbox-label::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	border: 1px solid #262626;
}

.dark-form__checkbox-label:focus-visible {
	outline: none;
}

.dark-form__checkbox-input:focus-visible + .dark-form__checkbox-label::before {
	outline: 2px solid #fff;
}

.dark-form__checkbox-input:checked + .dark-form__checkbox-label::before {
	background: url("../img/icon_check.svg") center / cover no-repeat;
}

.dark-form__button {
	color: #fff;
	font-weight: 600;
	line-height: 1.5;
	border-radius: 8px;
	background: #e50000;
	padding: 18px 24px;
	transition:
		color 0.3s ease,
		background-color 0.3s ease;
}

.dark-form__button:hover {
	background: #ff1919;
	color: #ffe5e5;
}
